[Unit]
Description=JACK Server
After=sound.target
Requires=pisound-btn.service

[Service]
LimitRTPRIO=infinity
LimitMEMLOCK=infinity
ExecStart=/usr/local/bin/jackd -v -t 2000 -s -d alsa -d hw:pisound -r 48000 -p 256 -n 2 -X seq

[Install]
WantedBy=multi-user.target
